// пути к preview моих проектов
$myCompany: "/myProjects/MyCompany/preview.png"
$smitler: "/myProjects/smitler/preview.png"
$denga:"/myProjects/denga/preview.png"
$jSchool:"/myProjects/JSchool/preview.png"

// 
$defaultSizeBorder:2px
$defaultStyleBorder:solid
$defaultColorBorder:white
